@model AKQ.Web.Models.AddNotesViewModel

<form method="POST">
    <input name="GameId" type="hidden" value="@Model.GameId"/>
    <textarea class="notes-area" name="Notes">@Model.Notes</textarea>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/home/results" class="btn">Cancel</a>
    </div>
</form>