@model System.Collections.Generic.List<AKQ.Web.Models.ExplainedTrickViewModel>

<style>

</style>
<table class="table">
    <thead>
        <tr>
            <th class="width-50">Trick</th>
            <th>West</th>
            <th>North</th>
            <th>East</th>
            <th>South</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trick in Model)
        {
            <tr>
                <td><b>@trick.Index</b></td>
                @foreach (var play in trick.Players)
                {
                    <td>
                        <div><span title="@play.Tip" class="@play.CssClass">@play.Card</span></div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
