@model AKQ.Web.Models.GamesListViewModel

@{
    ViewBag.Title = "Games";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Created</td>
                    <td>
                        <a class="btn btn-small" href="/game/join/@item.Id">Join</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>