

<div class="container" ng-controller="HomeController">
    
    <h2>{{title}}</h2>
    <h3>{{clickCounter}}</h3>
    <div>
        <input ng-model="title"/>
        <button ng-click="onDisplay()">Display me</button>
    </div>
 
</div>

