<div class="navbar" style="position: static;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand light" href="#">AKQ<span class="redsuit">poker</span>.com</a>
            <div>
                <ul class="nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/">Home</a></li>
                        <li><a href="/tables">Tables</a></li>
                    }
                </ul>
                <ul class="nav  pull-right">
                    @if (Request.IsAuthenticated)
                    {
                        <text>
                        <li><a href="/profile"><strong class="light">@User.Identity.Name</strong> </a></li>
                        <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
                        </text>
                    }
                    else
                    {
                        <text>
                        <li><a href="/account/login">Log In</a></li>
                        <li><a href="/account/loginwithfacebook">Log In with Facebook</a></li>
                        <li><a href="/account/register">Sign Up</a></li>
                        </text>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
