<div class="container">
    <h2>Games <a href="/tables/create" class="btn pull-right">New</a></h2>
    <table class="table table-condensed">
        <thead>
            <tr>
                
                <th>Name</th>
                <th class="span1">Buy In</th>
                <th class="span1">Small Blind</th>
                <th class="span1">Players</th>
                <th class="span1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
               
                <td>{{item.Name}}</td>
                <td>${{item.BuyIn}}</td>
                <td>${{item.SmallBlind}}</td>
                <td>{{item.Players.length}}/{{item.MaxPlayers}}</td>
                 <td>
                    <a href="" class="btn btn-success btn-mini" ng-click="join(item)">Join</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
