<div class="container">
    <h3>Repetition results</h3>
    <p>
        You can view and analyse PBN file of game using <a target="_blank" href="http://www.bridge-captain.com/downloadDD.html">Double Dummy Solver</a>.
    </p>
    <hr/>
    <div data-bind="foreach: { data: items, as: 'set' }">
        <h4>Repetition Set #<span data-bind="text: $index() + 1"></span></h4>
        <table class="table">
            <thead>
                <tr>
                    <th class="span1">#</th>
                    <th class="span2">Deal</th>
                    <th class="span2">Contract</th>
                    <th colspan="3">Results (click buttons below)</th>
                    <th>Tags</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="span1">1st</th>
                    <th class="span1">2nd</th>
                    <th class="span1">3nd</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: set.deals -->
                <tr>
                    <td data-bind="text:  ($parentContext.$index() + 1) +  '.' +  ($index() + 1)">
                            
                    </td>
                    <td>
                        <div class="btn-group btn-group-vertical ">
                            <button type="button" class="btn disabled "><strong class="dark-gray" data-bind="text: boardNumber"></strong></button>
                        </div>
                    </td>
                    <td>
                        <span class="label label-contract big-font">

                            <span data-bind="text: contractValue"></span>
                            <span data-bind="html: contractSuitHtml, style: { 'font-size': contractSuitFontSize, color: contractSuitColor }" style="font-weight: bold;"></span>
                        </span>
                    </td>
                    <td data-bind="with: games[0]">
                        <a title="View Game" data-bind="click: $root.viewGame, text: result, css: cssClass" href="#" class="alert big-font pull-left result-item"></a>
                    </td> 
                    <td data-bind="with: games[1]">
                        <a title="View Game" data-bind="click: $root.viewGame, text: result, css: cssClass" href="#" class="alert big-font pull-left result-item"></a>
                    </td> 
                    <td data-bind="with: games[2]">
                        <a title="View Game" data-bind="click: $root.viewGame, text: result, css: cssClass" href="#" class="alert big-font pull-left result-item"></a>
                    </td>
                    <td data-bind="text: tags"></td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td></td>
                    <td></td>
                    <td class="big-font">Rating</td>
                    <td data-bind="with: results[0]">
                        <span data-bind="text: $data" class="label label-contract big-font"></span>
                    </td>
                    <td data-bind="with: results[1]">
                        <span data-bind="text: $data" class="label label-contract big-font"></span>
                    </td>
                    <td data-bind="with: results[2]">
                        <span data-bind="text: $data" class="label label-contract big-font"></span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>
