@{
    ViewBag.Title = "Waiting Room";
}

<div class="gameTable">
    <h2 class="sideBar">No games found. Please stay on this page, you will be connected to next game.</h2>
    

    <h2 >Players awaiting game start.</h2>

<table data-bind="foreach: players">
    <tr>
        <td ><h3 data-bind="text: name"></h3></td>
        <td ><h3 data-bind="text: time"></h3></td>
    </tr>
</table>
    </div>