<div class="replay-hands">

    <h4>Deals</h4>
    <div class="btn-group">
        <!-- ko foreach: $root.myHands -->
        <button class="btn" data-bind="click: $root.selectHand, css: { 'active': $root.myHandId == id }">
            <span data-bind="text: $index() + 1"></span>
        </button>
        
        <!-- /ko -->

    </div>
</div>
