<div class="replay-others">

   <table class="replayTable table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: $root.otherTables -->

            <tr data-bind="click: $root.selectOther, css: { 'info': $root.gameToReplayId == id , 'warning': $root.myHandId == id }">
                <td data-bind="text: $index() + 1"></td>
                <td > <span data-bind="text: contractValue"></span> <span data-bind="forecolor: contractSuitColor, html: contractSuit"></span> <span data-bind="text: result"></span></td>
                <td data-bind="text: date"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
