@using Poker.Web.App_Start
<div class="container">
    <h2>Game {{game.Name}}</h2>

    <button ng-click="refresh()" class="btn pull-right">Refresh</button>
    <div>
        <div class="span6">
            <div ng-repeat="card in game.Deck" class="card" ng-style="{color: card.Color}">
                <div class="card-value">{{card.Value}}</div>
                <div class="card-symbol" ng-bind-html="card.Symbol"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row-fluid">
        <div class="well span2" ng-repeat="player in game.Players">
            <h4 ng-class="{highlight: player.CurrentTurn}">{{player.Name}} #{{player.Position}} </h4>
            <div>Cash: {{player.Cash}}</div>
            <div>Bid: {{player.Bid}}</div>
            <div>
                <div ng-repeat="card in player.Cards" class="card" ng-style="{color: card.Color}">
                    <div class="card-value">{{card.Value}}</div>
                    <div class="card-symbol" ng-bind-html="card.Symbol"></div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div>

        <div>
            <button ng-click="check()" ng-disabled="game.CurrentPlayerId != game.MyId" class="btn btn-success btn-block">Check</button>
            <button ng-click="fold()" ng-disabled="game.CurrentPlayerId != game.MyId" class="btn btn-danger btn-block">Fold</button>
            <button ng-click="call()" ng-disabled="game.CurrentPlayerId != game.MyId" class="btn btn-warning btn-block">Call</button>
            <button ng-click="raise()" ng-disabled="game.CurrentPlayerId != game.MyId" class="btn btn-warning btn-block">Raise</button>
            <span class="label label-warning offset1" ng-show="game.CurrentPlayerId == game.MyId">Your turn</span>
        </div>

    </div>

    <br />
    
    <pre>{{ currentUserRate(rate) }}</pre>

    <span class="pull-left">{{minRateDisplay}}</span> <span class="pull-right">{{maxRateDisplay}}</span>
    <rzslider rz-slider-floor="0"
              rz-slider-ceil="rateMax"
              rz-slider-model="rate"
              rz-slider-translate="currentUserRate"></rzslider>


</div>
