@using Poker.Web.App_Start
<div class="container">
    <button ng-click="refresh()" class="btn pull-right">Refresh</button>

    <div class="row-fluid">

        <div class="poker-table text-center offset1">

            <ol class="poker-players">

                <li class="well span2 player" ng-repeat="player in game.Players">

                    <h4 ng-class="{highlight: player.CurrentTurn}">{{player.Name}} #{{player.Position}} </h4>
                    <hr ng-show="player.CurrentTurn" class="time-bar" style="width: {{timeBarWidth}}%"/>
                    <div class="player-cards">
                        <div ng-show="isPlayerMe(player)" ng-repeat="card in player.Cards" class="card" ng-style="{color: card.Color}">
                            <div class="card-value">{{card.Value}}</div>
                            <div class="card-symbol" ng-bind-html="card.Symbol"></div>
                        </div>

                        <div ng-show="!isPlayerMe(player) && player.IsInGame">
                            <div class="card back"></div>
                            <div class="card back"></div>
                        </div>
                    </div>
                    <div class="player-info">
                        <div>
                            <span class="player-cash">${{player.Cash}}</span>
                        </div>
                        <div class="pull-right">
                            <span style="margin-right: 5px; padding: 2px;" ng-show="player.IsSmallBlind || player.IsBigBlind" ng-class="{'label label-warning' : player.IsSmallBlind, 'label label-info' : player.IsBigBlind }">{{player.BlindText}}</span>
                        </div>
                        <div class="pull-right">
                            <img class="pull-right" ng-src="{{player.AvatarUrl}}" style="margin-right: 15px; margin-top: 5px; height: 40px" alt="avatar"></img>
                        </div>
                    </div>
                </li>

                <li ng-if="showExistingEmptyPlace()" class="well span2 player">
                    <div class="voffset5">
                        <a href="#" class="btn btn-success width-1" ng-click="join()">Join</a>
                    </div>
                </li>

            </ol>
            
            <ol class="poker-bids">

                <li class="player-bid" ng-show="player.Bid > 0" ng-repeat="player in game.Players">
                    <span>{{player.Bid}}</span>
                </li>

            </ol>

        </div>


        <div style="position: relative;
left: 350px;
top: -250px;">
            <div ng-repeat="card in game.Deck" class="card" ng-style="{color: card.Color}">
                <div class="card-value">{{card.Value}}</div>
                <div class="card-symbol" ng-bind-html="card.Symbol"></div>
            </div>
        </div>
    </div>


    <div ng-if="!game.IsGuest" class="row-fluid">

        <div class="span4 voffset4">
            <button ng-click="check()" ng-disabled="!isMyTurn()" class="btn btn-success ">Check</button>
            <button ng-click="fold()" ng-disabled="!isMyTurn()" class="btn btn-danger ">Fold</button>
            <button ng-click="call()" ng-disabled="!isMyTurn()" class="btn btn-info ">Call</button>
            <button ng-click="raise()" ng-disabled="!isMyTurn()" class="btn btn-warning ">Bet <span>{{ rates[rateIndex] }}</span></button>
        </div>
        <div ng-show="isMyTurn()" class="span3">
            <span class="pull-left">{{rates[0]}}</span> <span class="pull-right">{{rates[rates.length - 1]}}</span>
            <rzslider rz-slider-floor="0"
                      rz-slider-ceil="rateMaxIndex"
                      rz-slider-model="rateIndex"
                      rz-slider-translate="currentRateIndex"></rzslider>
        </div>

    </div>

    <div class="row-fluid voffset3">

        <div class="well span5">
            <ul id="logs" class="log-container">
                <li ng-repeat='log in Logs' class="{{log.css}}">{{log.msg}}</li>
            </ul>
        </div>

        <div class="well span6">
            <div ng-keyup="sendMessage($event)">
                <input ng-disabled="game.IsGuest" class="input-message" type="text" required ng-model="newMessage" />
                <button ng-disabled="game.IsGuest" ng-click="sendMessage($event)" class="btn btn-offset1">Send</button>
            </div>
            <div class="clearfix"></div>
            <hr />
            <ul id="msgs" class="msg-container">
                <li class="msg" ng-repeat="message in messages">[{{message.Time}}] {{message.Name}}: {{message.Content}}</li>
            </ul>
        </div>

    </div>

</div>