<div class="container">
    <h2>Game {{game.Name}}</h2>
    
    
    <div>
        <div class="span6">
            <div ng-repeat="card in game.Deck" class="card" ng-style="{color: card.Color}">
                <div class="card-value">{{card.Value}}</div>
                <div class="card-symbol" ng-bind-html-unsafe="card.Symbol"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="row-fluid">
        <div class="well span3" ng-repeat="player in game.Players">
            <h4>{{player.Name}} #{{player.Position}} <span class="label label-warning" ng-show="player.CurrentTurn">Your turn</span></h4>
            <div>Cash: {{player.Cash}}</div>
            <div>Bid: {{player.Bid}}</div>
            <div>
                <div ng-repeat="card in player.Cards" class="card" ng-style="{color: card.Color}">
                    <div class="card-value">{{card.Value}}</div>
                    <div class="card-symbol" ng-bind-html-unsafe="card.Symbol"></div>
                </div>
            </div>
            <div class=" clearfix"></div>
            <div>
                <button ng-click="check(player)" class="btn btn-success btn-block">Check</button>
                <button ng-click="fold(player)" class="btn btn-danger btn-block">Fold</button>
                <button ng-click="call(player)" class="btn btn-warning btn-block">Call</button>
                <button ng-click="raise(player)" class="btn btn-warning btn-block">Raise</button>
                <input type="text" ng-model="player.RaiseValue"/>
            </div>
        </div>
    </div>
</div>