<div class="container">
    <h2>Game {{game.Name}}</h2>
    
    
    <div class="row-fluid">
        <div class="well span3" ng-repeat="player in game.Players">
            <h4>{{player.Name}} #{{player.Position}}</h4>
            <div>Cash: {{player.Cash}}</div>
            <div>Bid: {{player.Bid}}</div>
            <div>
                <div ng-repeat="card in player.Cards" class="card" ng-style="{color: card.Color}">
                    <div class="card-value">{{card.Value}}</div>
                    <div class="card-symbol" ng-bind-html-unsafe="card.Symbol"></div>
                </div>
            </div>
            <div class=" clearfix"></div>
            <div>
                <button class="btn btn-success btn-block">Check</button>
                <button class="btn btn-danger btn-block">Fold</button>
                <button class="btn btn-warning btn-block">Raise</button>
            </div>
        </div>
    </div>
</div>