<!-- ko with: auction -->
<div class="auctionArea">
    <div class="auctionPanel">
        <h2 class="auction-title">Your contract</h2>
        <p><span class="auction-contract"><span class="contract-value" data-bind="html: contract().value, forecolor: contract().color"></span><span class="contract-symbol" data-bind="    html: contract().symbol, forecolor: contract().color, css: {'symbol-bigger': contract().suit() != 'NT'}"></span></span>= <span class="lardge-font" data-bind="text: bestpossibleResult"></span> tricks</p>
        <div data-bind="visible: $parent.isHost" class="auctionButtons">
            <button class=" m-btn  green" data-bind="click: close">Start</button>
             @*<button class=" m-btn  purple" data-bind="visible: !$root.isTournament(), click: $parent.newDeal">Redeal</button>*@
        </div>
    </div>
</div>
<!-- /ko -->
