<div class="resultArea">
    <div class="resultPanel">
        <div class="title">Result</div>
        <div>Target  <span data-bind="text: auction.bestpossibleResult"></span>&nbsp;tricks</div>
        <div>You won  <span data-bind="text: nsTrickCount()"></span>&nbsp;tricks</div>
        <div class="message"><span data-bind="text: resultMessage"></span></div>
        <p data-bind="visible: !isAuth()">Please <a href="/account/register">Sign Up</a> to keep your results.</p>
        <div class="results-buttons">
            <button class="m-btn green" data-bind="text: nextDealText, click: newDeal">New Deal</button>
            <a data-bind="visible: !isTournament(), click: replay" class="m-btn purple" href="#">Replay</a>
        </div>
    </div>
</div>
