
<script type="text/html" id="cardTemplate">
    <div data-bind="text: value" class="card-value"></div>
    <div data-bind="html: symbol" class="card-symbol"></div>
</script>    

<div id="gameLayout">
    <div>
        <div id="maincontainer">
            @RenderBody()
        </div>
    </div>
</div>
