
<div id="sideBarContaine" class="sideBar sidebar-replay well">
    <div class="sidebarSection">
        <div id="play" data-bind="visible: !isBestPlay()">
             <!-- ko with: model -->
            <a class="m-btn blue-stripe" data-bind="attr: { href: downloadUrl }" >Download PBN</a>
            
                <!-- /ko -->
            <div class="clearfix"></div>

            <div class="btn-group" data-bind="css: { open: tagsSelectVisible }">
                <a class="m-btn red-stripe dropdown-toggle" data-bind="click: toggleTagsSelect" href="#">
                    <span data-bind="html: tagsCaption"></span>
                    <span class="caret"></span>
                </a>
             
                <!-- ko with: model -->
                <!-- ko with: tactics -->
                <ul class="dropdown-menu" data-bind="foreach: tags">
                    <li>
                        <a href="#" data-bind="click: $root.toggleTag">
                            <i data-bind="css: { 'icon-check': selected, 'icon-check-empty': !selected() }"></i>
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                </ul>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- ko with: model -->
        <div id="hands">
            <div class="clearfix"></div>
            @Html.Partial("Replay/_Hands")
        </div>
        <div id="other">
            <div class="clearfix"></div>
            @Html.Partial("Replay/_Other")
        </div>
        <a class="m-btn green-stripe" data-bind="click: $root.bestPlay" >Best Play</a>
<!-- /ko -->
    </div>
</div>
