<script type="text/html" id="prevcardTemplate">
    <div data-bind="text: value" class="prev-card-value"></div>
    <div data-bind="html: symbol" class="prev-card-symbol"></div>
</script>
<div id="sideBarContainer" class="sideBar well">
    <div class="sidebarSection">
        <a id="rulesLink" class="m-btn blue-stripe" data-original-title="Rules">Rules</a>
        <div class="clearfix"></div>
         <div class="btn-group" data-bind="css: { open: tagsSelectVisible }">
            <a class="m-btn red-stripe dropdown-toggle" data-bind="click: toggleTagsSelect" href="#">
                <span data-bind="html: tagsCaption"></span>
                <span class="caret"></span>
            </a>
            <!-- ko with: tactics -->
            <ul class="dropdown-menu" data-bind="foreach: tags">
                <li>
                    <a href="#" data-bind="click: $root.toggleTag">
                        <i data-bind="css: { 'icon-check': selected, 'icon-check-empty': !selected() }"></i>
                        <span data-bind="text: title"></span>
                    </a>
                </li>
            </ul>
            <!-- /ko -->
        </div>
        <div data-bind="visible: isTournament">
            <h4>Tournament</h4>
            <div  class="medium-label">Time <strong data-bind="text: timeLeft"></strong></div>
            <div class="medium-label">Deal #<strong data-bind="text: tableNumber"></strong></div>

        </div>
    </div>
    <div id="rulesBox" class="alert alert-white on-top">
        <button type="button" class="close">&times;</button>
      <span class="label label-warning rules-label ">Rules</span>  
        <ul class="rules-list">
            <li>Play as partners: NS versus EW.</li>
            <li>East & West are computers.</li>
            <li>South (human) plays cards for both South (declarer) and North (dummy).</li>
        </ul>
        <span class="label label-warning rules-label">TO START:</span>  
        <ul class="rules-list">
            <li>West leads to the first trick.</li>
            <li>The winner of each trick leads to the next.</li>
        </ul>
        <span class="label label-warning rules-label">AIM:</span>  
        <ul class="rules-list">
            <li>To make your contract.</li>
        </ul>
    </div>
    <div id="sideBarContract" class="sidebarSection">
        <h4>Contract</h4>

        <div class="clearfix"></div>
        <div class="light-gray">
        <!-- ko with: auction.contract -->
        <div class="big-label"><span data-bind="text: declarer"></span></div>
        <div class="big-label">
            <div class="label-card-value" data-bind="text: value"></div>
            <div class="label-card-symbol" data-bind="html: symbol, forecolor: color"></div>
        </div>
            <!-- /ko -->
            </div>
        <table class="handEstimation">
            <thead>
                <tr>
                    <th></th>
                    <th>Target</th>
                    <th>Tricks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NS</td>
                    <!-- ko with: auction.contract -->
                    <td data-bind="text: nsTarget"></td>
                    <!-- /ko -->
                    <td data-bind="text: nsTrickCount()"></td>
                </tr>
                <tr>
                    <td>EW</td>
                    <!-- ko with: auction.contract -->
                    <td data-bind="text: ewTarget"></td>
                    <!-- /ko -->
                    <td data-bind="text: ewTrickCount()"></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="sideBarCount" class="sidebarSection">
        <h4>Count</h4>
        <table class="handEstimation" data-bind="visible: auction.visible() == false">
            <thead>
                <tr>
                    <th></th>
                    <th>W</th>
                    <th>N</th>
                    <th>E</th>
                    <th>S</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: estimates -->
                <tr data-bind="style: { 'background': rowColor }">
                    <td data-bind="html: symbol, forecolor: color"></td>
                    <!-- ko foreach: players -->
                    <!-- ko if: editable -->
                    <td>
                        <input class="numeric-validation" type="text" x-webkit-speech="false" data-bind="value: count">
                    </td>
                    <!-- /ko -->
                    <!-- ko if: estimated -->
                    <td data-bind="text: $parent.estimatedValue"></td>
                    <!-- /ko -->
                    <!-- ko if: !estimated() &&  !editable()-->
                    <td data-bind="text: count"></td>
                    <!-- /ko -->
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>

    <div id="sideBarPrevTrick" class="sidebarSection">
        <h4>Previous Trick</h4>
        <div class="prevTrick">
            <!-- ko with: previousTrick().w -->
            <div class="eastwest">
                <!-- ko with: trickCard -->
                <div class="card" data-bind="template: 'prevcardTemplate', forecolor: color"></div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <div style="float: left;">
                <!-- ko with: previousTrick().n -->
                <div class="northsouth">
                    <!-- ko with: trickCard -->
                    <div class="card" data-bind="template: 'prevcardTemplate', forecolor: color"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- ko with: previousTrick().s -->
                <div class="northsouth">
                    <!-- ko with: trickCard -->
                    <div class="card" data-bind="template: 'prevcardTemplate', forecolor: color"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <!-- ko with: previousTrick().e -->
            <div class="eastwest">
                <!-- ko with: trickCard -->
                <div class="card" data-bind="template: 'prevcardTemplate', forecolor: color"></div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
